<p-table [value]="[annualSale]">
  <ng-template pTemplate="header">
    <tr>
      <th>YEAR</th>
      <th>LABEL</th>
      <th *ngFor="let month of months">{{month | slice:0:3}}</th>
      <th>TOTALS</th>
      <th>BENEFIT</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-annualSale>
    <tr>


      <td>{{annualSale.year}}</td>

      <td>
        <div class="container">
          <span class="ca">Sales</span>
          <span class="cs">Social</span>
          <span class="pf">Pro-fees</span>
        </div>
      </td>

      <td *ngFor="let month of months" (click)="showMonthlySaleDialog(month)" class="cell">
        <!-- {{getMonthlySale(month)?.sales}} -->
        <app-monthly-sale [monthlySale]="getMonthlySale(month)"></app-monthly-sale>
      </td>
      <!-- <td>hqfkjfh</td> -->

      <!--Total of CA CS PF -->
      <td>
        <div class="container">
          <span class="ca">{{annualSale.sales}}</span>
          <span class="cs">{{annualSale.socialCharges}}</span>
          <span class="pf">{{annualSale.professionalFees}}</span>
        </div>

      </td>

      <!-- benefit -->
      <td class="benefit">{{getBenefit()}}</td>

      <!-- button delete -->
      <td>
        <button type="text" (click)="confirmDelete()" pButton icon="pi pi-trash" class="ui-button-danger"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
  </ng-template>
</p-table>
